<h1>Cadastro</h1>
<td>Nome:</td>
<td>
  <input type="text" name="nome" size="40"> <br />
</td>
 <tr>
   <p>
     <td>Sobrenome:</td>
     <td><input type="text" name="sobrenome" size="35"> <br />
     </td>
   </p>
 </tr>
 <tr>
   <td>Idade:</td>
   <td><input type="text" name="idade" maxlength="3"> <br />
   </td>
 </tr>
 <tr>
   <p>
     <td>CEP:</td>
     <td><input type="text" name="cep" size="5" maxlength="5"> - <input type="text" name="cep" size="3" maxlength="3"> <br />
     </td>
   </p>
 </tr>
 <tr>
    <p>
      Data de Nascimento:
      <input type="text" name="dia" size="2" maxlength="2" value="dd">
      <input type="text" name="mes" size="2" maxlength="2" value="mm">
      <input type="text" name="ano" size="4" maxlength="4" value="aaaa">
